@import url(styles/cabecalho.css);
@import url(styles/sobreNos.css);
@import url(styles/vagas.css);
:root{
    /*CORES*/
    --branco: #FFFFFF;
    --cinza: #3A404E;
    --text-secundario:#667085; 
    --marrom:#8E2424;
    --botao-sombra:rgb(16, 24, 40, 0.05) ;
    --preto: #101828;
    --cinza-fundo-titulo: rgb(42, 36, 36, 0.05);
    --borda-vaga:#EAECF0;
    /*SOMBRA*/
    --botao:0px 1px 2px var(--botao-sombra);
    /*BORDA*/
    --vaga: 1px solid var(--borda-vaga);
    /*FONTES*/
    --inter:"Inter";
}
body{
    background-color: var(--branco);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    margin:0 112px;
    color: var(--text-secundario);
    box-sizing: border-box;
}