@import url(styles/cabecalho.css);
:root{
    /*CORES*/
    --branco: #FFFFFF;
    --cinza: #3A404E;
    --text-secundario:#667085; 
    --botao-cadastro:#8E2424;
    --botao-sombra:rgb(16, 24, 40, 0.05) ;

    /*SOMBRA*/
    --botao:0px 1px 2px var(--botao-sombra);

    /*FONTES*/
    --inter:"Inter";
}
body{
    background-color: var(--branco);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    margin:0 112px;
    color: var(--text-secundario);
    box-sizing: border-box;
}